*{
    box-sizing: border-box;
}
body {
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: Proxima Nova Regular,Helvetica Neue,Helvetica,Arial,sans-serif;
    background-color: #2e3035;

}

#whole-body {
   width: 100%;
   background-image: url("https://s.imgur.com/desktop-assets/desktop-assets/homebg.e52b5cdf24f83bcd55f9f1318855f2ef.png");
}
.NewCover .HomeNavbar {
    position: sticky;
}
.Navbar {
    width: 100%;
    z-index: 1000;
    text-align: center;
    margin: 0 auto;
}
.HomeNavbar {
    padding: 15px;
    position: fixed;
    display: flex;
    top: 0;
}
@media (max-width: 1200px){
.NavbarContainer-left {
    min-width: 225px;
}
}
.NavbarContainer-left, .NavbarContainer-right {
    position: relative;
    display: inline-flex;
}
.Navbar-logo-container {
    user-select: none;
    display: flex;
    align-items: center;
    float: left;
}
.Navbar-logo {
    display: inline;
    cursor: pointer;
}
header a {
    color: #01b96b;
    text-decoration: none;
}
@media (min-width: 600px) and (max-width: 899px){
.HomeNavbar .upload {
    padding-right: 7px;
}
}
.HomeNavbar .upload {
    min-width: auto;
    margin: auto 20px;
    position: relative;
}
.Button {
    text-align: center;
    height: 35px;
    display: inline-block;
    padding: 9px 14px 10px 9px;
    text-transform: none;
    user-select: none;
    border-radius: 3px;
    font-size: 15px;
    font-weight: 700;
    position: relative;
    width: auto;
    display:flex;
    background-color: #1bb76e;
    box-shadow: 0 6px 10px 0 rgb(27 28 30 / 31%);
    color: #fff;
    white-space: nowrap;
}
.NavbarContainer-center {
    max-width: 550px;
    margin: auto;
    align-items: center;
    flex: 1;
    justify-content: space-around;
}
.Searchbar {
    position: relative;
    float: right;
    width: 100%;
    max-width: 550px;
}
.Searchbar form {
    width: 100%;
}
.Searchbar-textInput {
    background: hsla(0,0%,100%,.25);
    border: 1px solid transparent;
    padding: 8px 35px 8px 10px;
    border-radius: 3px;
    width: 100%;
    outline: 0 none;
    opacity: .8;
    min-height: 36px;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: .4px;
    color: #fff;
    text-shadow: inherit;
    -webkit-text-fill-color: inherit;
}
.Searchbar-submitInput {
    position: absolute;
    font-size: 20px;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    background: transparent;
    color: #fff;
    border: 0;
    outline: 0 none;
    padding: 8px;
    cursor: pointer;
}
.NavbarContainer-right {
    justify-content: flex-end;
}
.NavbarContainer-right {
    min-width: 280px;
}
.NavbarContainer-right {
    position: relative;
    display: flex;
    justify-content: space-between;

}
.ProfileNavbar-item {
    position: relative;
    top: 2px;
    display: inline-block;
}
.EmeraldButton {
    margin-right: 16px;
}
.EmeraldButton {
    background: #6432f9;
    box-shadow: 0 3px 4px rgb(0 0 0 / 12%);
    padding: 0 10px 0 9px;
    overflow: hidden;
    margin: auto 0;
    line-height: 35px;
}
.Navbar-signin {
    margin: auto 24px auto 8px;
    font-size: 15px;
    font-weight: 600;
    text-align: center;
    color: #fff;
    text-shadow: 0 14px 15px rgb(27 28 30 / 31%);
    white-space: nowrap;
    vertical-align: middle;
}
.HomeNavbar .Navbar-signup {
    min-width: 108px;
    padding-top: 9px;
}
svg:not(:root) {
    overflow: hidden;
}
.NavbarContainer-right{
    display: flex;
    align-items: center;
    justify-content:space-between;
}
.NavbarContainer-right {
    display: flex;
    justify-content:space-between;
    align-items:center
}
.Message {
    font-size: 24px;
    font-family: Proxima Nova ExtraBold,Helvetica Neue,Helvetica,Arial,sans-serif;
    letter-spacing: .6px;
    color: #aed8ea;
    text-align: center;
    min-height: 34px;
    position: relative;
    top: 5rem;
}
.TrendingTags {
    margin: 2rem;
    margin-top: 7rem;
    /* width: 80%;
    margin: auto; */
    padding-bottom: 9rem;
}
.TrendingTags {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.TrendingTags-header {
    height: 31px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    opacity: .7;
    font-size: 16px;
    font-weight: 700;
    line-height: 1;
    letter-spacing: 1.3px;
    text-align: left;
    color: #fff;
    text-transform: uppercase;
}
.TrendingTags-label {
    display: flex;
    align-items: center;
    height: 100%;
}
.TrendingTags-labelToggle {
    cursor: pointer;
    color: #fff;
}
.TrendingTags-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.first{
    background-image: url("https://i.imgur.com/IkZeAAy_d.jpg?maxwidth=800&shape=thumb&fidelity=high");
    height: 130px;
    width: 232px;
    background-color: rgb(64, 112, 181);
}
.TrendingTags .Tag {
    margin: 6px 6px 0;
}
.Tag {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    border-radius: 3px;
    background-color: rgba(121,67,200,.8);
    background-size: auto 115px;
    background-repeat: repeat-x;
    text-align: center;
    background-position: 100% 0;
}
.Tag-name {
    font-size: 14px;
    line-height: 1.15;
    letter-spacing: .4px;
    color: #fff;
    text-transform: capitalize;
    word-break: break-word;
}
.Tag-posts {
    margin-top: 4px;
    font-size: 11px;
    line-height: 1.46;
    letter-spacing: .4px;
    color: hsla(0,0%,100%,.5);
}
.last{
    background-image: url("https://i.imgur.com/nrFCOUB_d.jpg?maxwidth=800&shape=thumb&fidelity=high")
}
#section{
    width: 85%;
    margin: auto;
    margin-top: -7rem;
}
.CoverChangeGallery {
    display: flex;
    margin-top: -5rem;
    justify-content: space-between;
    position: relative;
    height: 36px;
    min-width: 405px;
}
.NewCover-change-sort {
    user-select: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
.NewCover-change-sort-wrapper.section {
    transition: transform .25s ease-in-out;
    transform: translateX(0);
}
.NewCover-change-sort-wrapper .Dropdown, .NewCover .Cover-metadata {
    margin: auto;
}
.Dropdown--upper {
    text-transform: uppercase;
}

.Dropdown {
    position: relative;
    font-size: 16px;
}
.Dropdown--primary .Dropdown-title {
    font-size: 18px;
    font-family: Proxima Nova Bold,Helvetica Neue,Helvetica,Arial,sans-serif;
}
.Dropdown-title {
    font-weight: 600;
    letter-spacing: 1.5px;
    text-align: right;
    color: #babec4;
    cursor: pointer;
}
.Dropdown-menu {
    box-sizing: border-box;
    position: absolute;
    top: 100%;
    margin-top: -1px;
    z-index: 1000;
    right: -28px;
    padding-top: 8px;
    display: none;
}
.Dropdown--primary .Dropdown-icon {
    font-size: 11px;
    position: relative;
    top: -1px;
}
.Dropdown-triangle {
    position: absolute;
    right: 22px;
    top: 0;
}
.Dropdown-option.isActive {
    font-weight: 700;
    color: #fff;
}
.Dropdown-option {
    box-sizing: border-box;
    color: #b4b9c2;
    cursor: pointer;
    display: block;
    line-height: 2.14;
    letter-spacing: 1px;
    width: auto;
    padding-left: 18px;
    padding-right: 26px;
    text-align: left;
    white-space: nowrap;
}
.NewCover-change-sort-wrapper {
    display: inline-flex;
    position: relative;
    white-space: nowrap;
    z-index: 100;
}
.CoverChangedView {
    margin-left: 30px;
    display: flex;
    align-items: center;
}
#cont-div{
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-gap: 1.5rem;
    padding: 10px;
}
.cont-div-boxes{
        margin-bottom: 16px;
        position: relative;
        z-index: 1;
        display: inline-block;
}
.cont-div-boxes img{
    width: 100%;
    height:inherit;
   object-fit:cover;
}
.Post-item {
    height: 100%;
    display: block;
    margin-bottom: 30px;
    background-repeat: no-repeat;
    cursor: pointer;
    background-size: 145px;
    position: relative;
    color: #fff;
    box-shadow: 0 2px 4px 0 rgb(0 0 0 / 40%);
    background-color: #2e3035;
    transition: box-shadow .25s;
}

.Post-item-container {
    height: 100%;
    position: relative;
    overflow: hidden;
    border-radius: 3px;
}
.Post-item-title-wrap {
    background-color: #474a51;
    border-bottom: 4px solid transparent;
    transition: background-color .25s;
    overflow: hidden;
}
.Post-item-title-wrap {
    background: #474a51;
    padding-top: 10px;
    color: #fff;
    margin-top: 0;
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
}
.Post-item-title {
    font-weight: 600;
    line-height: 1.14;
    font-size: 14px;
    text-align: left;
    color: #fff;
    display: inline-block;
    max-height: 45px;
    overflow: hidden;
    padding: 0 15px;
}
.Post-item-info, .PostInfo {
    display: flex;
    align-items: center;
    font-size: 12px;
    line-height: 1.5;
    letter-spacing: .3px;
}
.Post-item-info {
    justify-content: space-between;
    min-height: 8px;
    padding: 0.5rem 1rem;
    color: #b4b9c2;
}
.Media {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.Post-item-stat {
    z-index: 1;
    opacity: .65;
}
.Vote {
    position: relative;
}




.container {
	max-width: 800px;
	padding: 0 30px;
	margin: 2rem auto;
}

.container h3,
p {
	color: #fff;
}

.container h3 {
	font-size: 24px;
	margin-bottom: 5px;
}

.container p {
	font-size: 18px;
	line-height: 1.5;
}

.result {
	background-color: #202020;
	padding: 20px 25px;
	border-radius: 5px;
	box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.5);
	margin-bottom: 20px;
}

.loader {
	position: fixed;
	bottom: 0;
	padding: 1rem;
	width: 100vw;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: rgba(0, 0, 0, 0.5);
}

.loader.hidden {
	display: none;
}

.circle {
	width: 20px;
	height: 20px;
	background-color: #fff;
	border-radius: 50%;
}

.circle:not(:last-child) {
	margin-right: 1rem;
}

.circle:nth-child(1) {
	animation: hop 1s ease-in-out infinite;
}

.circle:nth-child(2) {
	animation: hop 1s ease-in-out infinite 0.1s;
}

.circle:nth-child(3) {
	animation: hop 1s ease-in-out infinite 0.2s;
}

@keyframes hop {
	0% {
		transform: scale(1) translateY(0);
	}
	25% {
		transform: scale(1.1) translateY(10px);
	}
	50% {
		transform: scale(1.2) translateY(20px);
	}
	75% {
		transform: scale(1.1) translateY(10px);
	}
	100% {
		transform: scale(1) translateY(0px);
	}
}

